<!-- <footer class="md-padding footer" style="border-radius: 1.5rem;">
    <div id="btmFooter" flex>
        <div class="footerContentLeft">
            <a class="footer-logo" herf routerLink="/home">
                <img src="assets/logo.png" alt="Let's Learn" width="60px">
            </a>
            <div class="copy-right">
                <span class="pointer" routerLink="/home">&copy; Seeds</span>
                <a [innerHTML]="'footer.privacy' | translate" style="text-decoration: underline;"></a>
            </div>
        </div>
        <div class="footerContent">
            <div class="pointer">
                <img class="sn" src="assets/facebook.svg">
                <img class="sn" src="assets/instagram.svg">
                <img class="sn" src="assets/twitter.svg">
            </div>
        </div>
        <div class="footerContentRight">
            <a herf routerLink="/policy/contact">{{'footer.contact' | translate}}</a>
            <a herf routerLink="/policy/faq">FAQ</a>
        </div>
    </div>
</footer> -->




<footer>
    <div class="row_footer primary">
        <div class="column links">
            <h3>{{'footer.about' | translate}}</h3>
            <ul>
                <li>
                    <a href routerLink="/policy/faq">{{'footer.faq' | translate}}</a>
                </li>
                <li>
                    <a href routerLink="/policy/privacy">{{'footer.tos' | translate}}</a>
                </li>
                <li>
                    <a href routerLink="/policy/privacy">{{'footer.cookies' | translate}}</a>
                </li>
                <li>
                    <a href routerLink="/policy/contact">{{'footer.contact' | translate}}</a>
                </li>
            </ul>
        </div>
        <div class="column links">
            <h3>{{'footer.services' | translate}}</h3>
            <ul>
                <li>
                    <a href routerLink="/user/viewAll">{{'footer.viewTopics' | translate}}</a>
                </li>
                <li>
                    <a href routerLink="/user/add">{{'footer.addTopics' | translate}}</a>
                </li>
                <li>
                    <a href routerLink="/authenticate/register">{{'footer.createAccount' | translate}}</a>
                </li>
            </ul>
        </div>

        <!-- <div class="column subscribe">
            <h3>Newsletter</h3>
            <div>
                <input type="email" placeholder="Your email id here" />
                <button>Subscribe</button>
            </div>

        </div> -->
        <div class="column about">

            <h3>SEEDS</h3>
			
			<img src="assets/logo_EU.jpg" alt="EU ERASMUS+ LOGO" width="180" height="39"/>
            <p>

                <i>The European Commission support for the production of this publication does not constitute endorsement of the contents which reflects the views only of the authors, and the Commission cannot be held responsible for any use which may be made of the information contained therein.</i>
            </p>

            <!--<div class="social">
                <img class="footer-img" src="assets/facebook.svg">
                <img class="footer-img" src="assets/instagram.svg">
                <img class="footer-img" src="assets/twitter.svg">
            </div> -->
            <p class="copyright">Copyright &copy; 2022 SEEDS</p>

        </div>

    </div>

    <!-- <div class="row copyright">
        <div class="footer-menu">

            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Help</a>
        </div>
    </div> -->
</footer>