<div class="spinnerDiv" *ngIf="loading">
    <mat-spinner aria-label="Please wait" [diameter]="100" strokeWidth="2"></mat-spinner>
    <div style="position:relative; top: -60px; left: 30px;">Please wait.</div>
</div>
<div class="main-content" *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" *ngIf="isAddMode">Create Open Ended Questions</h4>
                        <h4 class="card-title" *ngIf="!isAddMode">Edit Open Ended Questions</h4>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="openEndedForm">
                            <mat-form-field class="input_text">
                                <mat-label>Activity Sequence Number</mat-label>
                                <input class="input_form" matInput type="number" name="sequence" id="sequence"
                                    formControlName="sequence" required>
                            </mat-form-field>
                            <div *ngIf="sequence.touched && sequence.invalid">
                                <mat-error *ngIf="sequence.errors?.['required']">
                                    <div>
                                        Please enter a Sequence of Number.
                                    </div>
                                </mat-error>
                                <mat-error *ngIf="sequence.errors?.['min']">
                                    Please enter greater than or equal to 1 Sequence Number.</mat-error>
                            </div>
                            <br>

                            <div class="textarea">
                                <mat-label>Please enter the Question Statement *</mat-label>
                                <ul>
                                    <textarea type="text" name="question" id="question" formControlName="question"
                                        required rows="4" cols="40"> </textarea>
                                </ul>
                                <div *ngIf="isAddMode">
                                    <input type="file" (change)="PickedImage($event)">
                                    <span>* Only png, jpeg, jpg</span>
                                    <div class="image-preview" *ngIf="Pickedimage">
                                        <img [src]="Pickedimage" alt="No Profile picture">
                                        <button mat-stroked-button class="button" class="pointer"
                                            (click)="DeleteImage()">Delete <mat-icon style="color: rgb(199, 24, 24)">
                                                delete</mat-icon></button>
                                        <br>
                                    </div>
                                </div>
                                <div *ngIf="!isAddMode">
                                    <div *ngIf="imageUrl === ''">
                                        <input type="file" (change)="PickedImage($event)">
                                        <span>* Only png, jpeg, jpg</span>
                                        <div class="image-preview" *ngIf="Pickedimage">
                                            <img [src]="Pickedimage" alt="No Profile picture">
                                            <button mat-stroked-button class="button" class="pointer"
                                                (click)="DeleteImage()">Delete <mat-icon
                                                    style="color: rgb(199, 24, 24)">
                                                    delete</mat-icon></button>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="image-preview" *ngIf="imageUrl !== ''">
                                        <img [src]="imageUrl" alt="No Profile picture">
                                        <button mat-stroked-button class="button" class="pointer"
                                            (click)="DeleteImageBackend()">Delete <mat-icon
                                                style="color: rgb(199, 24, 24)">
                                                delete</mat-icon></button>
                                        <br>
                                    </div>
                                </div>
                            </div>
                            <button mat-stroked-button [disabled]="openEndedForm.invalid" type="submit"
                                (click)="onSubmit()"
                                style="width: 40%; text-align: center; font-size: px;">Submit</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>