<body class="container">
    <main>
        <h1 class="faq-heading">Privacy Policy Statement:</h1>
        <section class="faq-container">
            <p>SEEDS project is a research project, whose prototypes, materials and software is under an on-going
                development. The project complies with GDPR guidlines and requirements in creating user pfofiles and
                creating new educational materials. By registring to the prototype tool, you accknowledge that this is a
                test prototype under development, and that the data yu proviced (email address, name, topics and
                learning activities) will be used, stricktly, for research ans development purposes, targetting the
                enhanceent of SEEDS software prototype.)</p>
        </section>
    </main>
</body>