<h2 style="color: black;">Welcome to Admin Dashboard</h2>
<div class="container">
    <table class="table table-hover">
        <thead>
            <!-- <tr>
                <th class="pointer" routerLink="/adminUser/view-users">View List of Teachers</th>
            </tr> -->
            <tr>
                <th class="pointer" routerLink="/adminUser/viewTopics">View List of Topics</th>
            </tr>
            <!-- <tr>
                <th class="pointer" routerLink="/user/view">View List of Topics</th>
            </tr> -->
        </thead>
    </table>
</div>