<!-- <div class="spinnerDiv" *ngIf="loading">
    <mat-spinner aria-label="Please wait"></mat-spinner>
    <div style="position:relative; top: -60px; left: 30px;">Please wait, your registration is in progress.</div>
</div> -->
<div class="spinnerDiv" *ngIf="loading">
    <mat-spinner aria-label="Please wait" [diameter]="100" strokeWidth="2"></mat-spinner>
    <div style="position:relative; top: -60px; left: 30px;">Please wait.</div>
</div>
<div class="main-content" *ngIf="!loading">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{'register_page.register' | translate}}</h4>
                        <p class="card-category">{{'register_page.text' | translate}}</p>
                    </div>
                    <br>
                    <div class="card-body">
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" style="border: none;">
                            <!-- <label for="email"><b>{{'register_page.email' | translate}}</b></label> -->
                            <mat-form-field class="input_text">
                                <mat-label>{{'register_page.email' | translate}}</mat-label>
                                <input class="input_form" matInput formControlName="email" type="email" name="email"
                                    id="email" placeholder="Ex. john@example.com" required>
                            </mat-form-field>
                            <div *ngIf="email.pending">Checking Email...</div>
                            <div *ngIf="email.touched && email.invalid">
                                <mat-error *ngIf="email.errors?.['required']">
                                    <div>
                                        {{'register_page.email_error' | translate}}
                                    </div>
                                </mat-error>
                                <mat-error *ngIf="email.errors?.['email']">
                                    <div>
                                        {{'register_page.valid_email' | translate}}
                                    </div>
                                </mat-error>
                                <mat-error *ngIf="email.errors?.['emailExists']">
                                    {{'register_page.already_exist_email' | translate}}</mat-error>
                            </div>

                            <!-- <label for="name"><b>{{'register_page.full name' | translate}}</b></label> -->
                            <mat-form-field class="input_text">
                                <mat-label>{{'register_page.full name' | translate}}</mat-label>
                                <input class="input_form" matInput formControlName="name" type="text" name="name"
                                    id="name">
                            </mat-form-field>
                            <mat-error *ngIf="(!registerForm.valid && registerForm.get('name')?.errors) && 
                            (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
                                <div>
                                    {{'register_page.name_error' | translate}}
                                </div>
                            </mat-error>
                            <br>

                            <!-- <label for="password"><b>{{'register_page.password' | translate}}</b></label> -->
                            <div>
                                <mat-form-field class="password_form view-pass">
                                    <mat-label>{{'register_page.password' | translate}}</mat-label>
                                    <input class="input_form" matInput formControlName="password"
                                        [type]="hide ? 'password' : 'text'" name="password" id="password" required>
                                    <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off'
                                        :
                                        'visibility'}}
                                    </mat-icon>
                                </mat-form-field>
                                <!-- <app-password-strength-bar [passwordToVerify]="registerForm.value.password"
                                    (passwordStrength)="passwordValid($event)"></app-password-strength-bar> -->
                            </div>
                            <div *ngIf="password.touched && password.invalid">
                                <mat-error *ngIf="password.errors?.['required']">
                                    {{'register_page.pass_error' | translate}}
                                </mat-error>
                                <mat-error *ngIf="password.errors?.['minlength']">
                                    {{'register_page.pass_long' | translate}}
                                </mat-error>
                                <div>
                                    <mat-error *ngIf="registerForm.get('password').hasError('passwordStrength')">
                                        {{registerForm.get('password').errors['passwordStrength']}}
                                    </mat-error>
                                </div>
                            </div>

                            <!-- <label for="psw_repeat"><b>{{'register_page.confirm' | translate}}</b></label> <br> -->
                            <mat-form-field class="password_form">
                                <mat-label>{{'register_page.confirm' | translate}}</mat-label>
                                <input class="input_password" matInput formControlName="psw_repeat" type="password"
                                    name="psw_repeat" id="psw_repeat" required>
                            </mat-form-field>

                            <div *ngIf="psw_repeat.touched && psw_repeat.invalid">
                                <mat-error *ngIf="psw_repeat.errors?.['required']">
                                    {{'register_page.confirm_pass' | translate}}
                                </mat-error>
                            </div>
                            <div>
                                <mat-error
                                    *ngIf="psw_repeat.valid && registerForm.invalid && registerForm.hasError('notSame')">
                                    <div>
                                        {{'register_page.pass_match' | translate}}
                                    </div>
                                </mat-error>
                            </div>

                            <!-- <mat-form-field appearance="fill">
                                <mat-label>Choose a date</mat-label>
                                <input (focus)="picker.open()" matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker touchUi="true"></mat-datepicker>
                            </mat-form-field> -->

                            <section class="example-section">
                                <mat-checkbox class="example-margin" formControlName="remember" name="remember"
                                    id="remember">
                                    <!-- By creating an account you agree to our<br style="line-height:0;"><a href
                                        routerLink="/policy/privacy">Terms & Privacy</a>. -->
                                    <span [innerHTML]="'register_page.terms' | translate"></span>

                                </mat-checkbox>
                            </section>
                            <mat-error *ngIf="!registerForm.valid && registerForm.get('remember')?.errors && 
                                (registerForm.get('remember')?.dirty || registerForm.get('remember')?.touched)">
                                <div>
                                    {{'register_page.accept' | translate}}
                                </div>
                            </mat-error>
                            <br>
                            <br>
                            <button mat-stroked-button type="submit" class="button" class="pointer"
                                [disabled]="registerForm.invalid">{{'register_page.sign_up' | translate}}
                                <span class="material-icons">
                                    chevron_right
                                </span></button>
                            <hr>
                        </form>
                        <p [innerHTML]="'register_page.already_acc' | translate"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="width: 70%;">
                <h1 style="font-weight: bold;">{{'login_page.Seeds' | translate}}</h1>
                <h2>{{'login_page.Seeds_text' | translate}}</h2>
                <div class="card card-profile">
                    <img src="/assets/welcome_img.png">
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>





<!-- <div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Angular Login with Google</h2>
    <div *ngIf="isLoggedin === false">
        <div class="google">
            <button mat-stroked-button type="button" (click)="loginWithGoogle()" class="button"> <span
                    class="fa fa-google"></span>
                Login with Google
            </button>

        </div>
    </div> -->

<!-- <div *ngIf="isLoggedin === true">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" [value]="socialUser.firstName" id="firstname" readonly>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" [value]="socialUser.lastName" id="lastname" readonly>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" [value]="socialUser.email" id="email" readonly>
        </div>
        <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
</div>
<br>
<br>
<br>
<br> -->