<h1>Welcome to Seeds Admin Profile</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mi sapien, vulputate venenatis tincidunt sed, ornare sed
    urna. Mauris non vehicula tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
    turpis egestas. Vivamus vitae massa rhoncus, maximus ipsum at, efficitur dui. In id bibendum erat. Quisque ultricies
    quam et tortor ullamcorper, ut egestas metus efficitur. In hendrerit tincidunt turpis. Vestibulum consequat nisl vel
    tincidunt lacinia. Phasellus fringilla nunc a ultrices consectetur. Ut accumsan nibh odio, vel luctus lacus
    venenatis ac.</p>
<button class="button" routerLink="/adminUser/admin">Go to Admin Dashboard</button>
