<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Forgot Password?</h4>
            <p class="card-category">Please enter to your email.</p>
          </div>
          <br>
          <div class="card-body">
            <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" style="border: none;">
              <div class="container">
                <!-- <label for="email"><b>Email</b></label> -->
                <mat-form-field class="input_text">
                  <mat-label>Email</mat-label>
                  <input class="input_form" matInput formControlName="email" type="text" name="email" id="email"
                    required>
                </mat-form-field>
                <mat-error
                  *ngIf="(!forgotForm.valid && forgotForm.get('email')?.errors) && (forgotForm.get('email')?.dirty || forgotForm.get('email')?.touched)">
                  <div>
                    Please enter a valid Email address.
                  </div>
                </mat-error>
                <button mat-stroked-button type="submit" class="button"
                  class="pointer" [disabled]="forgotForm.invalid">Submit<span class="material-icons">
                    chevron_right
                  </span></button>
                <hr>
              </div>
              <br>
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h1 style="font-weight: bold;">SEEDS content creation tool</h1>
        <h2>Create new content and manage your account, to spread the seed of your knowledge.</h2>
        <div class="card card-profile">
            <img src="/assets/welcome_img.png">
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>