$button_color: #ccdceb;
@mixin transition_effect {
    transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);

    &:hover {
        transform: scale(1.2);
        box-shadow: 0 9px 47px 11px rgba(51, 51, 51, 0.18);
    }
}
@mixin button_style {
    @include transition_effect();
    background-color: $button_color;
    color: black;
    cursor: pointer;
    width: fit-content;
    font-weight: bold;
    text-align: center;
    justify-self: center;
    display: grid;
    border-radius: 8px;
}
@mixin text_align_paragraph {
    text-align: justify;
}
.button {
    @include button_style()
}
