* {box-sizing: border-box}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}
.text-danger{
  color:rgb(235, 72, 72);
}

.forgot {
  padding: 36px;
  width: 38%;
  margin: auto;
  text-align: center;
  h1 {
    font-size: 70px;
    line-height: 55px;
  }
}