.edit-profile{
  &__avatar{
    text-align: center;
    margin-bottom: 3rem;
    display: block;
    width: 100%;
    height: auto;
    // padding-top: 3rem;
    img{
      margin-bottom: 2rem;
      display: block;
      margin: 0 auto;
    }
    h1{
      font-size: 8rem;
      //text-transform: capitalize;
      margin: 1rem 0;
      height: auto;
      line-height: initial;
      font-family: 'Garnett';
      padding-top: 0;
    }
    &.faq-title{
      margin-top: 5rem;
    }
    .logout-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__settings{
    width: 60%;
    margin: 0 auto;
    > div{
      display: flex;
      .settings-tabs{
        margin-right: 2rem;
        .mat-tab-nav-bar {
          border: none;
          box-shadow: none;
          .mat-tab-links{
            flex-direction: column;
            .mat-tab-link{
              justify-content: flex-end;
              color: #000;
              font-size: 2rem;
              opacity: 1;
              padding: .5rem;
              min-width: auto !important;
              height: auto;
              padding-bottom: .5rem;
              margin-bottom: .5rem;
              &.mat-tab-label-active{
                text-decoration: underline;
                text-underline-position: under;
              }
            }
          }
          .mat-ink-bar{display: none !important;}
        }
        &--faq{
          .mat-tab-nav-bar {
            .mat-tab-links{
              flex-direction: row;
            }
          }
        }
      }
      .setting-content{
        flex: 1;
        form{
          > div{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .mat-form-field{
              width: 49%;
            }
            .from-actions{
              width: 100%;
              display: flex;
              justify-content: start;
              button{
                &.save-btn{
                  width: 80%;
                  margin-right: 1rem;
                  text-align: start;
                  font-weight: normal;
                  border-radius: .8rem;
                  font-size: 1.6rem;
                  background: #66f;
                  color: black;
                }
                &.deactivate-btn{
                  text-align: start;
                  font-weight: normal;
                  border-radius: .8rem;
                  font-size: 1.6rem;
                  background: #e6e5e5;
                  color: #000;
                }
              }
            }
            .theme-select{
              width: 49%;
              margin-bottom: 1rem;
              .mat-form-field{
                width: 100%;
                .mat-form-field-wrapper{
                  margin-bottom: 0;
                  .mat-form-field-flex{
                    padding: .8rem;
                    border-radius: 1rem;
                    .mat-select-trigger{
                      width: 100%;
                      .mat-select-arrow-wrapper{
                        position: absolute;
                        top: 50%;
                        right: 0;
                        display: block;
                        left: auto;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &--faq{
      > div{
        display: block;
        .settings-tabs{
          margin-right: 2rem;
          margin-bottom: 1rem;
          .mat-tab-nav-bar {
            .mat-tab-links{
              flex-direction: row;
              .mat-tab-link{
                margin-right: 3rem;
                &:last-child{
                  margin-right: 0;
                }
              }
            }
          }
        }
        .setting-content{
          .mat-accordion{
            .mat-expansion-panel{
              background: #F2F2E9;
              box-shadow: 1px 2px 10px #4672a4;
              margin-bottom: 2rem;
              .mat-expansion-panel-header{
                .mat-expansion-panel-header-title{
                  font-size: 2rem;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
  &.faq{
    padding-bottom: 8rem;
  }
  padding-bottom: 10vh;
}

.tags{
  display: flex;
  flex-wrap: wrap;
  &__item{
    display: flex;
    margin-right: .5rem;
    font-size: 1.2rem;
    background: #e6e5e5;
    padding: .2rem .8rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    word-break: break-all;
    span{
      font-size: 1rem;
      color: #000;
      opacity: 1;
      font-weight: bold;
      margin-top: .5rem;
    }
  }
}


.notify{
  &__item{
    background: #e6e5e5;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  p{
    font-size: 1.2rem;
    margin-top: 1.5rem;
  }
}

.mat-table {
  display: inline-table;
  width: 100%;
  font-family: Arial, 'Garnett';
  background: none;
}
.main-button {
  display: flex;
  justify-content: space-between;
}
.buttonDiv {
  display: flex;
  justify-content: space-between;
}
.user-profile {
  font-size: 17px;
  font-weight: 600;
}
.profile_text {
  h6, h4 {
    text-align: center;
  }
  p {
    @include text_align_paragraph();
  }
}